
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  height: 100%;
}

#root {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
	font-weight: 500;
	font-family: Roboto;
	/* font-style: inherit; */
	outline: 0;
	padding: 0;
	margin: 0;
  color: #3A3A3A;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* .swiper {
  width: 100%;
  padding: 5px 26px 65px !important; 
}

.swiper-slide {
  height: auto !important;
  display: flex;
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  margin: 0px 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #E89F71 !important;
  position: relative;
}

.swiper-pagination-bullet-active::after {
  content: '';
  height: 27px;
  width: 27px;
  position: absolute;
  top: -9px;
  left: -9px;
  border-radius: 50%;
  border: 1px solid #E89F71;
}
.swiper-button-prev::after, .swiper-button-next::after {
  color: #E89F71 !important;
  font-size: 16px !important;
  font-weight: 600;
  z-index: 2;
}
.swiper-button-prev, .swiper-button-next {
  width: calc(var(--swiper-navigation-size) / 35 * 27) !important;
}
.swiper-button-prev::before, .swiper-button-next::before {
  content: '';
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.16);
  position: absolute;
  z-index: 1;
} */